.card {
    /*background: white;*/
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    /*box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);*/
    /*border-radius: 10px;*/
    background: #ccf3e2;
    /*place-content: center;*/
    width: 92%;
    margin: 10% auto;
}

@media (min-width: 530px){
    .card {
        margin: 3.3% auto;
        width: 55%;
    }
}